.doctors-page{

padding:150px 7% 100px;

}



.doctors-header{

text-align:center;
max-width:700px;
margin:auto;
margin-bottom:70px;

}


.doctors-header h1{

font-size:55px;
margin-bottom:20px;

}


.doctors-header p{

color:#666;
font-size:18px;

}



.doctors-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:35px;

}



.doctor-card{

background:white;
border-radius:25px;
overflow:hidden;
box-shadow:0 20px 50px rgba(0,0,0,.08);

}



.doctor-card img{

width:100%;
height:420px;
object-fit:cover;

}



.doctor-info{

padding:25px;
text-align:center;

}



.doctor-info h3{

font-size:25px;
margin-bottom:10px;

}



.doctor-info p{

color:#666;

}




@media(max-width:900px){

.doctors-grid{

grid-template-columns:1fr 1fr;

}

}



@media(max-width:600px){

.doctors-page{

padding:120px 20px 70px;

}


.doctors-grid{

grid-template-columns:1fr;

}


.doctors-header h1{

font-size:38px;

}

}